*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	background-color: theme(colors.neutral.50);
	color: theme(colors.neutral.800);
	font-family: theme(fontFamily.sans);
	overflow-wrap: break-word;
	tab-size: 4;
	block-size: 100%;
	font-synthesis: none;
	text-size-adjust: none;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
}

body,
#__next {
	block-size: 100%;
}

:focus {
	outline: none;
}

:focus-visible {
	outline: 2px solid theme(colors.primary.800);
	outline-offset: 0;
}

iframe {
	border: 0;
}

[id] {
	scroll-margin-block-start: 2ex;
}

.svg-slide {
	aspect-ratio: 16/9;
}

/* stylelint-disable-next-line selector-class-pattern */
.react-pdf__Page {
	background: none !important;
}

/* stylelint-disable-next-line selector-class-pattern */
.react-pdf__Page__canvas {
	width: 100% !important;
	height: auto !important;
	margin: auto;
}

.comic-container {
	margin: 0 -20%;
}

.react-resizable {
	position: relative;
	overflow: auto;
}

.react-resizable-handle {
	position: absolute;
	right: 0;
	bottom: 0;
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	padding: 0 3px 3px 0;
	background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=");
	background-position: bottom right;
	background-origin: content-box;
	background-repeat: no-repeat;
	cursor: se-resize;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		transition-duration: 0.01ms !important;
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		scroll-behavior: auto !important;
	}
}
